{% extends 'index.html' %}
{% load static %}
{% block body %}

    <!-- Managing Across bg start -->
<section class="across-main bg2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Business Analyst </h3>
                        <p>This Business Analyst course is an industry-designed online certification course to master the core competencies of Business Analysts such as requirement planning and elicitation, project management, Business Analyst tools and techniques, business process modelling, business analysis and more through hands-on projects and real-world case studies. Enrol in our Business Analyst training now to get yourself upskilled and certified.</p>
                    </div>
                </div>
                <div class="row r">
                    <div class="col-md-4 ">
                        <div class="r-box bor-right">
                                <span>4.9</span> Ratings on <img src="{% static '/assets/images/g2.png'%}" alt="" class="mx-1"><a href="#">Reviews 
                             </a>
                             <br>
                             <div class="awee"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fas fa-star-half-alt"></span></div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div  class="r-box2 bor-right ">
                            <span>13k+</span> Students Enrolled
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div  class="r-box2 succ m-margin">
                             Guarantee Success


                        </div>
                    </div>
                </div>
                <div class="row bg-ul">
                    <div class="col-md-12">
                        <ul>
                            <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#downloadcourse">DOWNLOAD COURSE CONTENT <i class="fas fa-download"></i></button></li>
                            <!-- <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#downloadcourse">DOWNLOAD COURSE BROCHURE <i class="fas fa-download"></i> </button></li> -->
                            <!-- <li><button type="button" class="btn active" data-bs-toggle="modal" data-bs-target="#">VIEW SCHEDULE <i class="fas fa-calendar-alt"></i> </button></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-3">
     
        <div class="division">
            <div class="row">
                <div class="col-12 mx-auto">
                    <span>Drop Your Query</span>
                </div>
            </div>

            <form class="myform">
                 <div class="mt-2">
               <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
             </div>

             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Id">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="City">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Query">
             </div>

             <div class="my-t">
                 <button type="button" class="btn ntn-block btn-primary btn-lg">
                     Submit
                 </button>
             </div>
            </form>
</div>
            </div>
        </div>
        </div>

        <div class="row">
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 One among the top 10 most valuable certification</p>
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 90% of the people get job after Certification</p>
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 Experienced and Certified Trainers</p>
                        </div>
                     </div>
                  </div>
    </div>
</section>
<div class="q-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body">
        <div class="bg-form2">
                    <div class="topf">
                        <img src="{% static '/assets/images/msg.png'%}" alt="">
                        <span>Drop Your Query</span>
                    </div>
                    <div class="topb">
                        <ul>
                            <li><input type="text" placeholder="Name" class="topb-input"></li>
                            <li><input type="text" placeholder="Email id" class="topb-input"></li>
                            <li><input type="text" placeholder="Phone Number" class="topb-input"></li>
                            <li><input type="text" placeholder="City" class="topb-input"></li>
                            <li><input type="text" placeholder="Enter Your Query" class="topb-input"></li>
                        </ul>
                        <div class="pop-btn">
                            <a href="#">Submit</a>
                        </div>
                    </div>
                </div>      </div>
     
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="downloadcourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div class="bg-form2">
                    <div class="topf">
                        <img src="{% static '/assets/images/msg.png'%}" alt="">
                        <span>Get Course Content
</span>
                    </div>
                    <div class="topb">
                        <ul>
                            <li><input type="text" placeholder="Name" class="topb-input"></li>
                            <li><input type="text" placeholder="Email id" class="topb-input"></li>
                            <li><input type="text" placeholder="Phone Number" class="topb-input"></li>
                            
                        </ul>
                        <div class="pop-btn">
                            <a href="#">Submit</a>
                        </div>
                    </div>
                </div>      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<section class="content-nav d-none-m header-sticky2 header-sticky2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#training-options">Training Options</a></li>
                    <li><a href="#course-curriculum">Course Curriculum</a></li>
                    <li><a href="#exam-certification">Exam & Certification</a></li>
                    <li><a href="#reviews">Reviews</a></li>
                    <li><a href="#faqs">Faqs</a></li>
                </ul>
                 <div class="entroll">
                    <button type="button" class="btn d-none-m" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Enroll Now
</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="world">
    <div class="container">
        <div class="row">
            <h2>World’s #1 <b>Online Bootcamp</b></h2>
            <div class="col-md-4">
                <div  class="wo-box bor-right ">
                            <span>4.5</span>
                            <i class="fas fa-star"></i>
                            <img src="assets/images/w-1.png" alt="">
                        </div>
            </div>
            <div class="col-md-4">
                <div  class="wo-box bor-right ">
                            <span>4.6</span>
                            <i class="fas fa-star"></i>
                            <img src="assets/images/w-2.png" alt="">
                        </div>
            </div>
            <div class="col-md-4">
                <div  class="wo-box">
                            <span>4.5</span>
                            <i class="fas fa-star"></i>
                            <img src="assets/images/w-3.png" alt="">
                        </div>
            </div>
        </div>
    </div>
</section> -->
<section class="overview" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-8 top-over heading-line2 ">
                <h2>Business Analyst  Certification <b>Overview</b></h2>
                <p>Business analyst is a professional who has a certification in the said field that confirms his professional competency and credibility and at the same time ensures to his employers that he or she is definitely worth his/her salt. </p>
            </div>
            <div class="col-md-4 watch-over">
             <!--  <img src="assets/images/mx.png" alt=""> 
              <span class="intro-text">Watch <b>INTRO VIDEO</b></span>  -->
              <img src="{% static '/assets/images/skill.png'%}" alt=""> 
            </div>
        </div>
        <div class="row pt--28">
            <div class="col-md-8 over-key">
                <h3>Key Features 
                    </h3>
                <ul>
                    <li>32 Hrs Instructor Led Training</li>
                    <li>64 Hrs Self-paced Videos</li>
                    <li>64 Hrs Project & Exercises</li>
                    <li>Certification</li>
                </ul>
                <ul>
                    <li>Job Assistance</li>
                    <li>Lifetime Free Upgrade</li>
                    <li>Mentor Support</li>
                </ul>
            </div>
            <div class="col-md-4 over-skill">
                <h3>Skills Covered</h3>
                <ul>
                    <li>Business Analysis Planning and Monitoring.</li>
                    <li>Elicitation and Collaboration.</li>
                    <li>Requirements Life Cycle Management.</li>
                    <li>Strategy Analysis.</li>
                    

                      <!--  -->
                                     <div class="accordion" id="accordionExample">
  <div id="cbv" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
     
                        <li>Requirements Analysis and Design Definition.</li>
                        <li>Solution Evaluation.</li>
                       
                        
   
  
  </div>
      <button class="collapsed ser " type="button" data-bs-toggle="collapse" data-bs-target="#cbv" aria-expanded="false" aria-controls="collapseTwo">
        <img src="{% static '/assets/images/view.png'%}" alt="">
      </button>
    </h2>
   
  
 
</div>
<!--  -->
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="training-option" id="training-options">
    <div class="container heading-line2">
        <h2 class="pb-4">Training <b>Options</b></h2>
        <div class="row">
            <div class="col-md-8 m-auto">
            <div class="row">
                <div class="col-md-6">
                    <div class="training-box">
                        <h3>SELF-PACED LEARNING</h3>
                        <h6>₹ 22,999</h6>
                        <ul>
                            <li>Lifetime access to high-quality self-paced eLearning content curated by industry experts
                            </li>
                            <li>24x7 learner assistance and support</li>
                           
                        </ul>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="training-box">
                        <h3>CORPORATE TRAINING</h3>
                        <h6>Customized to your team's needs</h6>
                        <ul>
                            <li> Blended learning delivery model (self-paced eLearning and/or instructor-led options)
                            </li>
                            <li>Flexible pricing options</li>
                            <li>Enterprise grade Learning Management System (LMS)</li>
                            <li>Enterprise dashboards for individuals and teams</li>
                            <li>24x7 learner assistance and support</li>
                           
                        </ul>
                        
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>


<section class="exam" id="exam-certification" style="padding-top:60px;">
    <div class="container heading-line2">
        <h2>Business Analyst  Exam & <b>Certification</b></h2>
        <div class="row">
            <div class="col-md-7">
               <div class="accordion" id="accordionExample">
 
  
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-1" aria-expanded="false" aria-controls="collapseone">
         Earn your Business Analyst Certificate
      </button>
    </h2>
    <div id="exam-1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>Our Masters program is exhaustive and this certificate is proof that you have taken a big leap in mastering the domain.</p>
        
      </div>
</div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-2" aria-expanded="false" aria-controls="collapseTwo">
       Differentiate yourself with a Business Analyst Certificate
      </button>
    </h2>
    <div id="exam-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The knowledge and skills you've gained working on projects, simulations, case studies will set you ahead of competition.
      </div>
    </div>
 </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-3" aria-expanded="false" aria-controls="collapseThree">
       Share your achievement
      </button>
    </h2>
    <div id="exam-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Talk about it on Linkedin, Twitter, Facebook, boost your resume or frame it - tell your friends and colleagues about it.


      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-4" aria-expanded="false" aria-controls="collapseThree">
         What are the top companies hiring for business analyst roles?
      </button>
    </h2>
    <div id="exam-4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Google, Cisco Systems, American Express, Dell, Deloitte, and McKinsey & Company are some of the top companies that hire business analysts.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-5" aria-expanded="false" aria-controls="collapseThree">
        What are the various industry roles available to a business analyst?
      </button>
    </h2>
    <div id="exam-5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Business analyst manager, quantitative analyst, information security analyst, management analyst, and budget analyst are some of the industry roles that business analysts can explore.
      </div>
    </div>
  </div>
 

  
</div>
            </div>
            <div class="col-md-5">
                <div>
                    <img src="{% static '/assets/images/cer-business.png'%}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
</div>
</section>


<section class="managing-testi" id="reviews">
    <div class="container">
         <div class="row">
                 <div class="col-lg-12 ">
                    <!-- section-title -->
                    
                        <h4>Reviews</h4>
                    
                </div>
                <div class="testimonial-active2 owl-carousel">
                    <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static '/assets/images/review-icon.png'%}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Amit Patel</h4>
                                    <h6>DESIGNER</h6>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p"> Trident Global Services  is the best place to learn online from experienced and certified tutors. I have completed the Agile Scrum Master and Salesforce training through Trident Global Services . They provided a user-friendly environment with world-class trainers and e-learning content. The SimpliTalk forum is great for resolving and questions.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                   <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static '/assets/images/review-icon2.png'%}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Steven Max</h4>
                                    <h6>DESIGNER</h6>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p">Trident Global Services  is a fantastic platform to learn new technologies while being employed. The course content is excellent. After getting certified, I was able to change my job role and grab a 30% salary hike.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                    <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static '/assets/images/review-icon.png'%}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Dan Sanny</h4>
                                    <h6>DESIGNER</h6>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p"> Everything, the trainer, tools and technology used, the pace and accessibility was really good.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                </div>
            </div>
    </div>
</section>


<section class="faqs" id="faqs">
    <div class="container">
        <h4>FAQs</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="accordion" id="accordionExample">
 
  
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="collapseone">
        Why should I learn Business Analysis from Trident Global Services?
      </button>
    </h2>
    <div id="faq1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        This training will equip you with all the skills needed to become a Business Analyst in any industry domain, work on challenging projects, and successfully accomplish all the tasks. You will be awarded Trident Global Services’s course completion certificate after successfully completing the training. As part of this online Business Analyst training, you will be working on real-time Business Analysis projects and step-by-step assignments that have high relevance in the corporate world, and the course curriculum is designed by industry experts. Upon the completion of this online course, you can apply for some of the best jobs in top MNCs around the world at top salaries. Trident Global Services offers lifetime access to videos, course materials, 24/7 support, and course material upgrading to the latest version at no extra fee. Hence, this Business Analyst certification course is clearly a one-time investment.
 </div>
</div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="collapseTwo">
       Can I request for a support session if I need to better understand the topics? 
      </button>
    </h2>
    <div id="faq2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Trident Global Services is offering 24/7 query resolution, and you can raise a ticket with the dedicated support team at any time. You can avail of email support for all your queries. If your query does not get resolved through email, we can also arrange one-on-one sessions with our support team. However, 1:1 session support is provided for a period of 6 months from the start date of your course.
      </div>
    </div>
 </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="collapseThree">
        What kind of projects are included as part of the training? 
      </button>
    </h2>
    <div id="faq3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Trident Global Services is offering you the most updated, relevant, and high-value real-world projects as part of the training program. This way, you can implement the learning that you have acquired in real-world industry setup. All training comes with multiple projects that thoroughly test your skills, learning, and practical knowledge, making you completely industry-ready. <br>You will work on highly exciting projects in the domains of high technology, ecommerce, marketing, sales, networking, banking, insurance, etc. After completing the projects successfully, your skills will be equal to 6 months of rigorous industry experience.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="collapseThree">
        Does Trident Global Services offer job assistance? 
      </button>
    </h2>
    <div id="faq4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Trident Global Services actively provides placement assistance to all learners who have successfully completed the training. For this, we are exclusively tied-up with over 80 top MNCs from around the world. This way, you can be placed in outstanding organizations such as Sony, Ericsson, TCS, Mu Sigma, Standard Chartered, Cognizant, and Cisco, among other equally great enterprises. We also help you with the job interview and résumé preparation as well.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="collapseThree">
        Does the job assistance program guarantee me a Job? 
      </button>
    </h2>
    <div id="faq5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Apparently, no. Our job assistance program is aimed at helping you land in your dream job. It offers a potential opportunity for you to explore various competitive openings in the corporate world and find a well-paid job, matching your profile. The final decision on hiring will always be based on your performance in the interview and the requirements of the recruiter.
      </div>
    </div>
  </div>
 

  
</div>
</div>
<div class=" col-md-4 img-faq">
<img src="{% static '/assets/images/faq.png'%}" alt="" class="" >
</div>
</div>
</div>
</section>
<!--  -->





<section class="sub-footer">
    <div class="container">
        <h2>For Corporate Training</h2>
        <h3>Transform your team to Managing across with customized learning models.</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Name" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Email id" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Phone number" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <button type="button">Enquiry Now</button>
            </div>
        </div>
    </div>
</section>

<!--  -->
{% endblock body %}

 