{% extends 'index.html' %}
{% load static %}
{% block body %}

    <!-- Managing Across bg start -->
<section class="across-main">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3>COBIT® 2019 Certification Training </h3>
                        <p>This COBIT® 2019 Foundation training course will give you a deep understanding of the COBIT framework for managing and governing enterprise IT environments. COBIT certification 2019 provides an end-to-end business perspective for IT governance and reflects the role of IT in creating value for enterprises.</p>
                    </div>
                </div>
                <div class="row r">
                    <div class="col-md-4 ">
                        <div class="r-box bor-right">
                                <span>4.9</span> Ratings on <img src="{% static 'assets/images/g2.png' %}" alt="" class="mx-1"><a href="#">Reviews 
                             </a>
                             <br>
                             <div class="awee"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fas fa-star-half-alt"></span></div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div  class="r-box2 bor-right ">
                            <span>10k+</span> Students Enrolled
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div  class="r-box2 succ m-margin">
                             Guarantee Success


                        </div>
                    </div>
                </div>
                <div class="row bg-ul">
                    <div class="col-md-12">
                        <ul>
                            <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#downloadcourse">DOWNLOAD COURSE CONTENT <i class="fas fa-download"></i></button></li>
                            <!-- <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#downloadcourse">DOWNLOAD COURSE BROCHURE <i class="fas fa-download"></i> </button></li> -->
                            <!-- <li><button type="button" class="btn active" data-bs-toggle="modal" data-bs-target="#">VIEW SCHEDULE <i class="fas fa-calendar-alt"></i> </button></li> -->
                        </ul>
                    </div>
                </div>
            </div>
           <div class="col-md-4">
                <div class="card-3">
     
        <div class="division">
            <div class="row">
                <div class="col-12 mx-auto">
                    <span>Drop Your Query</span>
                </div>
            </div>

            <form class="myform">
                 <div class="mt-2">
               <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
             </div>

             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Id">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="City">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Query">
             </div>

             <div class="my-t">
                 <button type="button" class="btn ntn-block btn-primary btn-lg">
                     Submit
                 </button>
             </div>
            </form>
</div>
            </div>
        </div>
        </div>

        <div class="row">
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 One among the top 10 most valuable certification</p>
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 90% of the people get job after Certification</p>
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 Experienced and Certified Trainers</p>
                        </div>
                     </div>
                  </div>
    </div>
</section>
<div class="q-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body">
        <div class="bg-form2">
                    <div class="topf">
                        <img src="{% static 'assets/images/msg.png' %}" alt="">
                        <span>Drop Your Query</span>
                    </div>
                    <div class="topb">
                        <ul>
                            <li><input type="text" placeholder="Name" class="topb-input"></li>
                            <li><input type="text" placeholder="Email id" class="topb-input"></li>
                            <li><input type="text" placeholder="Phone Number" class="topb-input"></li>
                            <li><input type="text" placeholder="City" class="topb-input"></li>
                            <li><input type="text" placeholder="Enter Your Query" class="topb-input"></li>
                        </ul>
                        <div class="pop-btn">
                            <a href="#">Submit</a>
                        </div>
                    </div>
                </div>      </div>
     
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="downloadcourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div class="bg-form2">
                    <div class="topf">
                        <img src="{% static 'assets/images/msg.png' %}" alt="">
                        <span>Get Course Content
</span>
                    </div>
                    <div class="topb">
                        <ul>
                            <li><input type="text" placeholder="Name" class="topb-input"></li>
                            <li><input type="text" placeholder="Email id" class="topb-input"></li>
                            <li><input type="text" placeholder="Phone Number" class="topb-input"></li>
                            
                        </ul>
                        <div class="pop-btn">
                            <a href="#">Submit</a>
                        </div>
                    </div>
                </div>      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<section class="content-nav d-none-m header-sticky2 header-sticky2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#training-options">Training Options</a></li>
                    <li><a href="#course-curriculum">Course Curriculum</a></li>
                    <li><a href="#exam-certification">Exam & Certification</a></li>
                    <li><a href="#reviews">Reviews</a></li>
                    <li><a href="#faqs">Faqs</a></li>
                </ul>
                 <div class="entroll">
                    <button type="button" class="btn d-none-m" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Enroll Now
</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="world">
    <div class="container">
        <div class="row">
            <h2>World’s #1 <b>Online Bootcamp</b></h2>
            <div class="col-md-4">
                <div  class="wo-box bor-right ">
                            <span>4.5</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-1.png' %}" alt="">
                        </div>
            </div>
            <div class="col-md-4">
                <div  class="wo-box bor-right ">
                            <span>4.6</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-2.png' %}" alt="">
                        </div>
            </div>
            <div class="col-md-4">
                <div  class="wo-box">
                            <span>4.5</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-3.png' %}" alt="">
                        </div>
            </div>
        </div>
    </div>
</section> -->
<section class="overview" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-8 top-over heading-line2 ">
                <h2>COBIT 2019 Course <b>Overview</b></h2>
                <p>If you’re working in audit and insurance, risk management, or governance of enterprise IT, then COBIT is your one-stop solution for mastering IT. IT professionals such as auditors, IT managers, and managers in IT service-providing firms will find this COBIT 2019 course helpful in advancing their careers.</p>
            </div>
            <div class="col-md-4 watch-over">
              <!-- <img src="{% static 'assets/images/mx.png' %}" alt=""> 
              <span class="intro-text">Watch <b>INTRO VIDEO</b></span>  -->
              <img src="{% static 'assets/images/skill.png' %}" alt=""> 
            </div>
        </div>
        <div class="row pt--28">
            <div class="col-md-8 over-key">
                <h3>Key Features 
                    </h3>
                <ul>
                    <li>2+ hours of high quality video e-learning content</li>
                    <li>COBIT 2019 Foundation exam fee included</li>
                   
                </ul>
                <ul>
                    <li>10+ real life examples</li>
                    
                </ul>
            </div>
            <div class="col-md-4 over-skill">
                <h3>Skills Covered</h3>
                <ul>
                    <li>Enterprise IT management</li>
                    <li>COBIT framework concepts</li>
                    <li>Principles and enablers</li>
                   

                      <!--  -->
                                     <div class="accordion" id="accordionExample">
  <div id="cbv" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
     
                        <li>Functions of COBIT</li>
                        <li>COBIT in practical situations</li>
                        <li>Concepts of process capability</li>
                       
                        
   
  
  </div>
      <button class="collapsed ser " type="button" data-bs-toggle="collapse" data-bs-target="#cbv" aria-expanded="false" aria-controls="collapseTwo">
        <img src="{% static 'assets/images/view.png' %}" alt="">
      </button>
    </h2>
   
  
 
</div>
<!--  -->
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="training-option" id="training-options">
    <div class="container heading-line2">
        <h2 class="pb-4">Training <b>Options</b></h2>
        <div class="row">
            <div class="col-md-8 m-auto">
            <div class="row">
                <div class="col-md-6">
                    <div class="training-box">
                        <h3>SELF-PACED LEARNING</h3>
                        <h6>₹ 40,000</h6>
                        <ul>
                            <li> Lifetime access to high-quality self-paced eLearning content curated by industry experts
                            </li>
                            <li>4 simulation test papers for self-assessment</li>
                            <li>24x7 learner assistance and support</li>
                           
                        </ul>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="training-box">
                        <h3>CORPORATE TRAINING</h3>
                        <h6>Customized to your team's needs</h6>
                        <ul>
                            <li> Blended learning delivery model (self-paced eLearning and/or instructor-led options)
                            </li>
                            <li>Flexible pricing options</li>
                            <li>Enterprise grade Learning Management System (LMS)</li>
                            <li>Enterprise dashboards for individuals and teams</li>
                            <li>24x7 learner assistance and support</li>
                           
                        </ul>
                        
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- Curriculum -->
<section class="curriculum" id="course-curriculum">
    <div class="container heading-line2">
        <h2>TOGAF Course <b>Curriculum</b></h2>
        <div class="row">
            <div class="col-md-8 curriculum-left">
                <h3>Eligibility</h3>
                <p>If you’re working in audit and insurance, risk management, information security, regulatory and compliance, or governance of enterprise IT, then COBIT is your one-stop solution for mastering information technology. IT professionals such as auditors, IT managers, quality professionals, developers, process practitioners, and managers in IT service-providing firms or IT service-providing departments of any firm will find this COBIT certification course helpful in advancing their career.</p>
                <h3>Pre-requisites</h3>
                <p>No formal qualification is required to take this COBIT training online course or complete the exam, other than the experience and knowledge of IT service-providing firms or IT service-providing departments of any firm.</p>
                <div class="faq-section faq-inner-bg">
            <div class="box-wrapper">
                <!-- Start Faq Wrapper -->
                <div class="faq-wrapper">
                   
                           
                                <div class="faq-accordian-style-1 accordion mt-4" id="accordion-1">
                                    <!-- Start Accordian Single Item -->
                                   <div class="accordian-single-item accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#demo-5">
                                                COBIT® 2019 Training
                                            </button>
                                        </h2>
                                        <div id="demo-5" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
                                            <div class="accordion-body">
                                               <div class="faq-accordian-style-1 accordion mt-4" id="accordion-1">
                                    <!-- Start Accordian Single Item -->
                                   <div class="accordian-single-item accordion-item">
                                        
                                       <div class="timeline p-4 block mb-4">
                    <div class="tl-item active">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Lesson 01 Course Introduction</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Lesson 02 Principles</div>
<!--                             <div class="tl-date text-muted mt-1">45 minutes ago</div>
 -->                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Lesson 03 Governance Systems and Components</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Lesson 04 Governance and Management Objectives</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Lesson 05 Performance Management</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Lesson 06 Designing a Tailored Governance System</div>
                            
                        </div>
                    </div>

                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Lesson 07 Business Case</div>
                            
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Lesson 08 Implementation</div>
                            
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Lesson 09 Foundation Exam</div>
                            
                        </div>
                    </div>

                    
                    
                </div>
                                    </div>
                                   
                                    <!-- End Accordian Single Item -->
                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <!-- End Accordian Single Item -->
                                </div>
                            </div>
                       
                
                <!-- End Faq Wrapper -->
            </div>
        </div>
            </div>
            <div class="col-md-4">
                <div class="curriculum-form">
                    <h3>Request more information</h3>
                    <ul>
                        <li><input type="text" placeholder="Name*" class="topb-input"></li>
                        <li><input type="text" placeholder="Email*" class="topb-input"></li>
                        <li><input type="text" placeholder="Mobile*" class="topb-input"></li>
                        <li><div class="d-flex flex-row"><aside style="padding-right:10px;">Inquiry for:</aside> <label class="radio"> <input type="radio" name="project" checked> <span> </span> Myself</label>
                        <label class="radio">
                         <input type="radio" name="project"> <span></span> Company</label> </div></li>
                         <li><textarea name="Message" id="" cols="30" rows="3" class="border1"></textarea></li>
                    </ul>
                    <div class="submi">
                        <a href="#">SUBMIT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="exam" id="exam-certification">
    <div class="container heading-line2">
        <h2>COBIT 2019 Exam <b>Certification</b></h2>
        <div class="row">
            <div class="col-md-7">
                <div class="accordion" id="accordionExample">
 
  
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-1" aria-expanded="false" aria-controls="collapseone">
       How do you become a certified COBIT® 2019 professional?
      </button>
    </h2>
    <div id="exam-1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <ul>
           <li>To pass the COBIT® 2019 Foundation exam, the candidate should have a thorough knowledge of all the COBIT principles, design factors, and governance components. </li>
             <li>One must possess experience in providing IT service and should have donned various roles in Enterprise IT to be able to understand and relate to the concepts covered in the COBIT course. There is no other prerequisite for this course. </li>
             <li>The online examination consists of 75 multiple-choice questions and requires a score of 65% or       higher to pass and 120 minutes are allowed for completing the exam. </li>
             <li>Once the online examination is completed, a score with “Pass” or “Fail” is generated.</li>
             </ul>
            </div>
</div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-2" aria-expanded="false" aria-controls="collapseTwo">
       What are the prerequisites for a COBIT® 2019 certification?
      </button>
    </h2>
    <div id="exam-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       No formal qualification is required to take this COBIT course or complete the exam, other than the experience and knowledge of IT service-providing firms or IT service-providing departments of any firm.
      </div>
    </div>
 </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-3" aria-expanded="false" aria-controls="collapseThree">
       What do I need to do to unlock my Trident Global Services certificate?
      </button>
    </h2>
    <div id="exam-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <b>1.</b>Complete 85% of the course. <br>
        <b>2.</b>Complete one simulation test with a minimum score of 60%.<br>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-4" aria-expanded="false" aria-controls="collapseThree">
         Until when can I procure voucher from Trident Global Services?
      </button>
    </h2>
    <div id="exam-4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Your exam voucher fee is included in the price of this course. However, you must procure the exam voucher within six months from the date of course purchase. In case the exam price goes up and you have not yet booked the exam, you will need to pay the difference in amount to Trident Global Services.
 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-5" aria-expanded="false" aria-controls="collapseThree">
        How frequently does exam fee change?
      </button>
    </h2>
    <div id="exam-5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Exam prices are dynamic and governed by the certification body. Normally price changes are announced during the end of the calendar year. You will be liable to pay the difference amount to Trident Global Services if you had not booked the exam and the exam price is hiked in the meantime.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-6" aria-expanded="false" aria-controls="collapseThree">
        What is the validity of my exam voucher?
      </button>
    </h2>
    <div id="exam-6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Exam vouchers are valid for 1 year from the date of issuance. If you do not book the exam within 1 year from purchase of voucher, you will need to buy the voucher again per the actual price.
      </div>
</div>
  
</div>

  
</div>
            </div>
            <div class="col-md-5">
                <div>
                    <img src="{% static 'assets/images/cer-business.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
</div>
</section>


<section class="managing-testi" id="reviews">
    <div class="container">
         <div class="row">
                 <div class="col-lg-12 ">
                    <!-- section-title -->
                    
                        <h4>Reviews</h4>
                    
                </div>
                <div class="testimonial-active2 owl-carousel">
                    <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static 'assets/images/review-icon.png' %}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Rohit Singh</h4>
                                    <h6>Associate Principal at Sutherland</h6>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p">I loved our trainer so much that if there is again an opportunity to attend one more batch with the same trainer, I would love to attend it.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                   <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static 'assets/images/review-icon2.png' %}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Rahul Aggarwal</h4>
                                    <h6>Executive Administrator at Aman Perfumes</h6>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p"> My instructor Myra took really interesting sessions and had a unique method of training the class by making it more interactive. She also always confirmed if we understood the concepts. I would like to thank her for her guidance.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                    <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static 'assets/images/review-icon.png' %}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Kumar Sanny</h4>
                                    <h6>Project Manager at Brighter Brain</h6>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p">I have enrolled in TOGAF 9.1 training from Trident Global Services. It has very knowledgeable faculty. The content and way the session was conducted were really good. I highly recommend Trident Global Services.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                </div>
            </div>
    </div>
</section>


<section class="faqs" id="faqs">
    <div class="container">
        <h4>FAQs</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="accordion" id="accordionExample">
 
  
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="collapseone">
       How many questions comprise the COBIT® 2019 Foundation examination?
      </button>
    </h2>
    <div id="faq1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       The COBIT® 2019 Foundation exam comprises 50 multiple-choice questions that are to be completed in 40 minutes. A total of 50% (25 out of 50) is required to pass, and it is a closed book exam. Computer-based testing is the standard method for COBIT exams.
        
 </div>
</div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="collapseTwo">
        What happens after passing the exam?
      </button>
    </h2>
    <div id="faq2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       After passing the exam, the names of successful candidates will appear in the Successful Candidate Register (if candidates have opted to register). The certificate will be sent to candidates at their correspondence addresses.
      </div>
    </div>
 </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="collapseThree">
       Do I need to renew my COBIT certification?
      </button>
    </h2>
    <div id="faq3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      The COBIT® 2019 qualifications are valid for an indefinite period of time and do not expire, so there is no need to renew the certificate once you pass the exam.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="collapseThree">
       What is covered under the 24/7 support promise?
      </button>
    </h2>
    <div id="faq4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      We offer 24/7 support through email, chat, and calls. <br>  

We also have a dedicated team that provides on demand assistance through our community forum. What’s more, you will have lifetime access to the community forum, even after completion of your course with us.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="collapseThree">
        If I need to cancel my enrolment, can I get a refund?
      </button>
    </h2>
    <div id="faq5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Yes, you can cancel your enrolment if necessary. We will refund the course price after deducting an administrative fee. To learn more, please read our Refund Policy.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="collapseThree">
        What comes after COBIT?
      </button>
    </h2>
    <div id="faq6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Achieving a COBIT 2019 certification offers you many career benefits. However, you shouldn’t stop upskilling yourself as the world of cybersecurity is quite dynamic.
      </div>
</div>
  
</div>
</div>
</div>
<div class=" col-md-4 img-faq">
<img src="{% static 'assets/images/faq.png' %}" alt="" class="" >
</div>
</div>
</div>
</section>
<!--  -->




<section class="sub-footer">
    <div class="container">
        <h2>For Corporate Training</h2>
        <h3>Transform your team to Managing across with customized learning models.</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Name" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Email id" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Phone number" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <button type="button">Enquiry Now</button>
            </div>
        </div>
    </div>
</section>

<!--  -->

 {% endblock body %}