{% extends 'index.html' %}
{% load static %}
{% block body %}

    <!-- Managing Across bg start -->
<section class="across-main" style=" background-image: url({% static 'assets/images/bg-micro.png' %}) !important;">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Azure Architect Technologies Certification Training</h3>
                        <p>This Microsoft Azure Architect training will establish you as an expert Azure Solutions Architect and help you ace the AZ-303 exam(Earlier AZ-300 exam). You will learn how to deploy and configure infrastructure, implement workloads and security, create and deploy apps, and develop the cloud and Azure storage.</p>
                    </div>
                </div>
                <div class="row r">
                    <div class="col-md-4 ">
                        <div class="r-box bor-right">
                                <span>4.9</span> Ratings on <img src="{% static 'assets/images/g2.png' %}" alt="" class="mx-1"><a href="#">Reviews 
                             </a>
                             <br>
                             <div class="awee"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fas fa-star-half-alt"></span></div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div  class="r-box2 bor-right ">
                            <span>13k+</span> Students Enrolled
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div  class="r-box2 succ m-margin">
                             Guarantee Success


                        </div>
                    </div>
                </div>
                <div class="row bg-ul">
                    <div class="col-md-12">
                        <ul>
                            <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#downloadcourse">DOWNLOAD COURSE CONTENT <i class="fas fa-download"></i></button></li>
                            <!-- <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#downloadcourse">DOWNLOAD COURSE BROCHURE <i class="fas fa-download"></i> </button></li> -->
                            <!-- <li><button type="button" class="btn active" data-bs-toggle="modal" data-bs-target="#">VIEW SCHEDULE <i class="fas fa-calendar-alt"></i> </button></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-3">
     
        <div class="division">
            <div class="row">
                <div class="col-12 mx-auto">
                    <span>Drop Your Query</span>
                </div>
            </div>

            <form class="myform">
                 <div class="mt-2">
               <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
             </div>

             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Id">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="City">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Query">
             </div>

             <div class="my-t">
                 <button type="button" class="btn ntn-block btn-primary btn-lg">
                     Submit
                 </button>
             </div>
            </form>
</div>
            </div>
        </div>
        </div>

        <div class="row">
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 One among the top 10 most valuable certification</p>
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 90% of the people get job after Certification</p>
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 Experienced and Certified Trainers</p>
                        </div>
                     </div>
                  </div>
    </div>
</section>
<div class="q-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body">
        <div class="bg-form2">
                    <div class="topf">
                        <img src="{% static 'assets/images/msg.png' %}" alt="">
                        <span>Drop Your Query</span>
                    </div>
                    <div class="topb">
                        <ul>
                            <li><input type="text" placeholder="Name" class="topb-input"></li>
                            <li><input type="text" placeholder="Email id" class="topb-input"></li>
                            <li><input type="text" placeholder="Phone Number" class="topb-input"></li>
                            <li><input type="text" placeholder="City" class="topb-input"></li>
                            <li><input type="text" placeholder="Enter Your Query" class="topb-input"></li>
                        </ul>
                        <div class="pop-btn">
                            <a href="#">Submit</a>
                        </div>
                    </div>
                </div>      </div>
     
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="downloadcourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div class="bg-form2">
                    <div class="topf">
                        <img src="{% static 'assets/images/msg.png' %}" alt="">
                        <span>Get Course Content
</span>
                    </div>
                    <div class="topb">
                        <ul>
                            <li><input type="text" placeholder="Name" class="topb-input"></li>
                            <li><input type="text" placeholder="Email id" class="topb-input"></li>
                            <li><input type="text" placeholder="Phone Number" class="topb-input"></li>
                            
                        </ul>
                        <div class="pop-btn">
                            <a href="#">Submit</a>
                        </div>
                    </div>
                </div>      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<section class="content-nav d-none-m header-sticky2 header-sticky2 rel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#training-options">Training Options</a></li>
                    <li><a href="#course-curriculum">Course Curriculum</a></li>
                    <li><a href="#exam-certification">Exam & Certification</a></li>
                    <li><a href="#reviews">Reviews</a></li>
                    <li><a href="#faqs">Faqs</a></li>

                </ul>
                <div class="entroll">
                    <button type="button" class="btn d-none-m" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Enroll Now
</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="world">
    <div class="container">
        <div class="row">
            <h2>World’s #1 <b>Online Bootcamp</b></h2>
            <div class="col-md-4">
                <div  class="wo-box bor-right ">
                            <span>4.5</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-1.png' %}" alt="">
                        </div>
            </div>
            <div class="col-md-4">
                <div  class="wo-box bor-right ">
                            <span>4.6</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-2.png' %}" alt="">
                        </div>
            </div>
            <div class="col-md-4">
                <div  class="wo-box">
                            <span>4.5</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-3.png' %}" alt="">
                        </div>
            </div>
        </div>
    </div>
</section> -->
<section class="overview" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-8 top-over heading-line2 ">
                <h2>Azure Architect Technologies <b>Overview</b></h2>
                <p>Microsoft Azure holds a significant share in the overall public cloud market. It is a cloud provider of choice for top companies like Adobe, HP, Rolls Royce, and 3M Informatics. Getting Microsoft Azure certified helps start a promising career in the cloud computing space.</p>
            </div>
            <div class="col-md-4 watch-over">
              <!-- <img src="{% static 'assets/images/mx.png' %}" alt=""> 
              <span class="intro-text">Watch <b>INTRO VIDEO</b></span> --> 
            </div>
        </div>
        <div class="row pt--28">
            <div class="col-md-8 over-key">
                <h3>Key Features 
                    </h3>
                <ul>
                    <li>Exam voucher included</li>
                    <li>Practice labs and projects with integrated Azure labs</li>
                    <li>Access to Microsoft official content aligned to examination</li>
                    <li>8X higher interaction in live online classes conducted by industry experts</li>
                </ul>
                <ul>
                    <li>Flexibility to choose classes</li>
                    <li>24/7 support with dedicated mentoring sessions</li>
                    
                </ul>
            </div>
            <div class="col-md-4 over-skill">
                <h3>Skills Covered</h3>
                <ul>
                    <li>Manage Azure subscriptions</li>
                    <li>Manage resources</li>
                    <li>Deploy virtual machines</li>
                    <li>Evaluate server migration</li>
                    
                    <button class="ser" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"                   aria-expanded="false" aria-controls="collapseExample">
                      <img src="{% static 'assets/images/view.png' %}" alt="">
                    </button>

                     <div class="collapse" id="collapseExample">
                        <li>Perform server migration</li>
                    <li>Manage application services</li>
                        <li>Select compute and storage</li>
                    <li>Perform hybrid networking</li>
                    <li>Create applications using PaaS</li>
                    <li>Azure Kubernetes</li>
                    <li>Authentication and secure data</li>
                    <li>Develop for cloud</li>
                     </div>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="training-option" id="training-options">
    <div class="container heading-line2">
        <h2 class="pb-4">Training <b>Options</b></h2>
        <div class="row">
            <div class="col-md-8 m-auto">
            <div class="row">
                <div class="col-md-6">
                    <div class="training-box">
                        <h3>SELF-PACED LEARNING</h3>
                        <h6>₹ 22,999</h6>
                        <ul>
                            <li>Lifetime access to high-quality self-paced eLearning content curated by industry experts
                            </li>
                            <li>24x7 learner assistance and support</li>
                           
                        </ul>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="training-box">
                        <h3>CORPORATE TRAINING</h3>
                        <h6>Customized to your team's needs</h6>
                        <ul>
                            <li> Blended learning delivery model (self-paced eLearning and/or instructor-led options)
                            </li>
                            <li>Flexible pricing options</li>
                            <li>Enterprise grade Learning Management System (LMS)</li>
                            <li>Enterprise dashboards for individuals and teams</li>
                            <li>24x7 learner assistance and support</li>
                           
                        </ul>
                        
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- Curriculum -->
<section class="curriculum" id="course-curriculum">
    <div class="container heading-line2">
        <h2>Course <b>Curriculum</b></h2>
        <div class="row">
            <div class="col-md-8 curriculum-left">
                <h3>Eligibility</h3>
                <p>This Azure Architect Technologies course is ideal for IT professionals, cloud solutions architects, experienced Azure administrators and developers, and DevOps professionals.</p>
                <h3>Pre-requisites</h3>
                <p>This Azure Architect Technologies course is ideal for IT professionals, cloud solutions architects, experienced Azure administrators and developers, and DevOps professionals.</p>
                <div class="faq-section faq-inner-bg">
            <div class="box-wrapper">
                <!-- Start Faq Wrapper -->
                <div class="faq-wrapper">
                   
                           
                                <div class="faq-accordian-style-1 accordion mt-4" id="accordion-1">
                                    <!-- Start Accordian Single Item -->
                                   <div class="accordian-single-item accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#demo-5">
                                               Azure AI Engineer Associate
                                            </button>
                                        </h2>
                                        <div id="demo-5" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
                                            <div class="accordion-body">
                                               <div class="faq-accordian-style-1 accordion mt-4" id="accordion-1">
                                    <!-- Start Accordian Single Item -->
                                   <div class="accordian-single-item accordion-item">
                                        
                                       <div class="timeline p-4 block mb-4">
                    <div class="tl-item active">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Module 1 Course IntroductionSection 01: Course Introduction</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Section 02: Implement and Monitor an Azure Infrastructure</div>
<!--                             <div class="tl-date text-muted mt-1">45 minutes ago</div>
 -->                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Section 03: Implement Management and Security Solutions</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Section 04: Implement Solutions for Apps</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Section 05: Implement and Manage Data Platforms</div>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
                                    </div>
                                   
                                    <!-- End Accordian Single Item -->
                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <!-- End Accordian Single Item -->
                                </div>
                            </div>
                       
                
                <!-- End Faq Wrapper -->
            </div>
        </div>
            </div>
            <div class="col-md-4">
                <div class="curriculum-form">
                    <h3>Request more information</h3>
                    <ul>
                        <li><input type="text" placeholder="Name*" class="topb-input"></li>
                        <li><input type="text" placeholder="Email*" class="topb-input"></li>
                        <li><input type="text" placeholder="Mobile*" class="topb-input"></li>
                        <li><div class="d-flex flex-row"><aside style="padding-right:10px;">Inquiry for:</aside> <label class="radio"> <input type="radio" name="project" checked> <span> </span> Myself</label>
                        <label class="radio">
                         <input type="radio" name="project"> <span></span> Company</label> </div></li>
                         <li><textarea name="Message" id="" cols="30" rows="3" class="border1"></textarea></li>
                    </ul>
                    <div class="submi">
                        <a href="#">SUBMIT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="exam" id="exam-certification">
    <div class="container heading-line2">
        <h2>Azure Architect Exam & <b>Certification</b></h2>
        <div class="row">
            <div class="col-md-7">
                <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e1" aria-expanded="false" aria-controls="collapseone">
      How much does the AZ-303: Azure Architect Technologies Exam cost?
      </button>
    </h2>
    <div id="e1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The cost of the AZ-303: Azure Architect Technologies Exam is $165.00 USD plus tax or INR 4800 plus tax. This fee is paid to Microsoft when you register for your exam.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e2" aria-expanded="false" aria-controls="collapseTwo">
       What is the difference between Exam AZ-303: Microsoft Azure Architect Technologies and Exam AZ-304: Microsoft Azure Architect Design?
      </button>
    </h2>
    <div id="e2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        The new Microsoft Certified Architect certifications have in-depth coverage of the fundamentals of Azure compared to the previous certification and are more role-oriented and industry-specific. Microsoft Azure Architect Technologies measures your ability to deploy and configure infrastructure, implement workloads and security, create and deploy apps, implement authentication and secure data, and develop for the cloud and Azure storage. Microsoft Azure Architect Design measures your ability to determine workload requirements, design for identity and security, design data platform solutions, design business continuity strategy, design for deployment, migration, and integration, and design an infrastructure strategy. AZ-303 Exam is more on implementation and management and not architecting and designing whereas AZ-304 Exam,  focuses on designing and architecting Azure solutions.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e3" aria-expanded="false" aria-controls="collapseThree">
        What is the duration of the Exam AZ-303: Microsoft Azure Architect Technologies?
      </button>
    </h2>
    <div id="e3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       The exam consists of 40-60 multiple choice questions and is 150 minutes long.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e4" aria-expanded="false" aria-controls="collapseThree">
       Are there negative markings for Exam AZ-303: Microsoft Azure Architect Technologies?
      </button>
    </h2>
    <div id="e4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
         No, there are no negative markings for the wrong answers. 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e5" aria-expanded="false" aria-controls="collapseThree">
       What is the passing score of Exam AZ-303: Microsoft Azure Architect Technologies?
      </button>
    </h2>
    <div id="e5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        No, there are no negative markings for the wrong answers. 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e6" aria-expanded="false" aria-controls="collapseThree">
       How long does it take to get the Microsoft Azure Architect course Exam results?
      </button>
    </h2>
    <div id="e6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Candidates taking the Microsoft Azure Architect Certification Exam will know if they’ve passed almost immediately after they’ve completed the exam
      </div>
    </div>
  </div>
 
   
</div>
            </div>
            <div class="col-md-5">
                <div>
                    <img src="{% static 'assets/images/aat-cer.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
</div>
</section>


<section class="managing-testi" id="reviews">
    <div class="container">
         <div class="row">
                 <div class="col-lg-12 ">
                    <!-- section-title -->
                    
                        <h4>Reviews</h4>
                    
                </div>
                <div class="testimonial-active2 owl-carousel">
                    <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static 'assets/images/review-icon.png' %}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Amit Patel</h4>
                                    <h6>DESIGNER</h6>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p"> Trident Global Services  is the best place to learn online from experienced and certified tutors. I have completed the Agile Scrum Master and Salesforce training through Trident Global Services . They provided a user-friendly environment with world-class trainers and e-learning content. The SimpliTalk forum is great for resolving and questions.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                   <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static 'assets/images/review-icon2.png' %}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Steven Max</h4>
                                    <h6>DESIGNER</h6>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p">Trident Global Services  is a fantastic platform to learn new technologies while being employed. The course content is excellent. After getting certified, I was able to change my job role and grab a 30% salary hike.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                    <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static 'assets/images/review-icon.png' %}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Dan Sanny</h4>
                                    <h6>DESIGNER</h6>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p"> Everything, the trainer, tools and technology used, the pace and accessibility was really good.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                </div>
            </div>
    </div>
</section>


<section class="faqs" id="faqs">
    <div class="container">
        <h4>FAQs</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="accordion" id="accordionExample">
 
  
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="collapseone">
        What is an Azure Solutions Architect?
      </button>
    </h2>
    <div id="faq1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        A Microsoft Azure Solutions Architect is a verified Azure expert at architecting and managing all aspects of Azure infrastructure and solutions and is responsible for planning solutions to meet the business needs of an organization.
 </div>
</div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="collapseTwo">
      What is Microsoft Azure?
      </button>
    </h2>
    <div id="faq2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Microsoft Azure is a set of cloud services designed to help any organization address day-to-day business challenges. Azure allows you to build, manage, and deploy applications on a large, worldwide network using Azure tools and frameworks.
      </div>
    </div>
 </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="collapseThree">
        Who are the trainers for this Azure Solutions Architect program?
      </button>
    </h2>
    <div id="faq3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Our Trainers are Microsoft certified (MCTs) and highly qualified with over 15 years of experience in training and are working in the domain.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="collapseThree">
        What comes after Azure Solutions Architect Certification course?
      </button>
    </h2>
    <div id="faq4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       We recommend you upgrade your knowledge after you have completed this Azure Solutions Architect Certification course. Consider taking a Post Graduate Program in Cloud Computing to become an expert and take your career to new heights.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="collapseThree">
        How do I get access to the Azure Platform?
      </button>
    </h2>
    <div id="faq5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       You may get access to a free trial of Azure by visiting <a href="https://azure.microsoft.com/en-in/free/">https://azure.microsoft.com/en-in/free/</a>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="collapseThree">
        What tools do I need to attend the Azure Solutions Architect training sessions?
      </button>
    </h2>
    <div id="faq6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      We offer 24/7 support through email, chat, and calls. We also have a dedicated team that provides on-demand assistance through our community forum. What’s more, you will have lifetime access to the community forum, even after completion of your course with us.
      </div>
</div>
  
</div>

   <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq7" aria-expanded="false" aria-controls="collapseThree">
        What is Global Teaching Assistance?
      </button>
    </h2>
    <div id="faq7" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      All of the classes are conducted via live online streaming. They are interactive sessions that enable you to ask questions and participate in discussions during class time. 
      </div>
</div>
  
</div>
</div>
</div>
<div class=" col-md-4 img-faq">
<img src="{% static 'assets/images/faq.png' %}" alt="" class="" >
</div>
</div>
</div>
</section>
<!--  -->



<section class="sub-footer">
    <div class="container">
        <h2>For Corporate Training</h2>
        <h3>Transform your team to Managing across with customized learning models.</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Name" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Email id" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Phone number" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <button type="button">Enquiry Now</button>
            </div>
        </div>
    </div>
</section>

<!--  -->

 {% endblock body %}