{% extends 'index.html' %}
{% load static %}
{% block body %}
    <!-- Managing Across bg start -->
<section class="across-main bg2">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3>PMP® Certification Training Course</h3>
                        <p>PMP® certification is the gold standard for Project Management professionals. The PMP course covers the latest best practices highlighted in the PMBOK Guide - 6th Edition and aligns with the latest PMP Examination Content Outline 2021. Learn from expert practitioners and pass the PMP® exam on your first attempt with Trident Global Services new PMP training course.</p>
                    </div>
                </div>
                <div class="row r">
                    <div class="col-md-4 ">
                        <div class="r-box bor-right">
                                <span>4.9</span> Ratings on <img src="{% static 'assets/images/g2.png' %}" alt="" class="mx-1"><a href="#">Reviews 
                             </a>
                             <br>
                             <div class="awee"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fas fa-star-half-alt"></span></div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div  class="r-box2 bor-right ">
                            <span>10k+</span> Students Enrolled
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div  class="r-box2 succ m-margin">
                             Guarantee Success


                        </div>
                    </div>
                </div>
                <div class="row bg-ul">
                    <div class="col-md-12">
                        <ul>
                            <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#downloadcourse">DOWNLOAD COURSE CONTENT <i class="fas fa-download"></i></button></li>
                           <!-- <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#downloadcourse">DOWNLOAD COURSE BROCHURE <i class="fas fa-download"></i> </button></li>  -->
                            <!-- <li><button type="button" class="btn active" data-bs-toggle="modal" data-bs-target="#">VIEW SCHEDULE <i class="fas fa-calendar-alt"></i> </button></li> -->
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-3">
     
        <div class="division">
            <div class="row">
                <div class="col-12 mx-auto">
                    <span>Drop Your Query</span>
                </div>
            </div>

            <form class="myform">
                 <div class="mt-2">
               <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
             </div>

             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Id">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="City">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Query">
             </div>

             <div class="my-t">
                 <button type="button" class="btn ntn-block btn-primary btn-lg">
                     Submit
                 </button>
             </div>
            </form>
</div>
            </div>
        </div>
        </div>

        <div class="row">
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 One among the top 10 most valuable certification</p>
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 90% of the people get job after Certification</p>
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 Experienced and Certified Trainers  </p>
                        </div>
                     </div>
                  </div>
    </div>
</section>
<div class="q-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body">
        <div class="bg-form2">
                    <div class="topf">
                        <img src="{% static 'assets/images/msg.png' %}" alt="">
                        <span>Drop Your Query</span>
                    </div>
                    <div class="topb">
                        <ul>
                            <li><input type="text" placeholder="Name" class="topb-input"></li>
                            <li><input type="text" placeholder="Email id" class="topb-input"></li>
                            <li><input type="text" placeholder="Phone Number" class="topb-input"></li>
                            <li><input type="text" placeholder="City" class="topb-input"></li>
                            <li><input type="text" placeholder="Enter Your Query" class="topb-input"></li>
                        </ul>
                        <div class="pop-btn">
                            <a href="#">Submit</a>
                        </div>
                    </div>
                </div>      </div>
     
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="downloadcourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div class="bg-form2">
                    <div class="topf">
                        <img src="{% static 'assets/images/msg.png' %}" alt="">
                        <span>Get Course Content
</span>
                    </div>
                    <div class="topb">
                        <ul>
                            <li><input type="text" placeholder="Name" class="topb-input"></li>
                            <li><input type="text" placeholder="Email id" class="topb-input"></li>
                            <li><input type="text" placeholder="Phone Number" class="topb-input"></li>
                            
                        </ul>
                        <div class="pop-btn">
                            <a href="#">Submit</a>
                        </div>
                    </div>
                </div>      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<section class="content-nav d-none-m header-sticky2 header-sticky2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#training-options">Training Options</a></li>
                    <li><a href="#course-curriculum">Course Curriculum</a></li>
                    <li><a href="#exam-certification">Exam & Certification</a></li>
                    <li><a href="#reviews">Reviews</a></li>
                    <li><a href="#faqs">Faqs</a></li>
                </ul>
                 <div class="entroll">
                    <button type="button" class="btn d-none-m" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Enroll Now
</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="world">
    <div class="container">
        <div class="row">
            <h2>World’s #1 <b>Online Bootcamp</b></h2>
            <div class="col-md-4">
                <div  class="wo-box bor-right ">
                            <span>4.5</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-1.png' %}" alt="">
                        </div>
            </div>
            <div class="col-md-4">
                <div  class="wo-box bor-right ">
                            <span>4.6</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-2.png' %}" alt="">
                        </div>
            </div>
            <div class="col-md-4">
                <div  class="wo-box">
                            <span>4.5</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-3.png' %}" alt="">
                        </div>
            </div>
        </div>
    </div>
</section> -->
<section class="overview" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-8 top-over heading-line2 ">
                <h2>PMP Certification Course <b>Overview</b></h2>
                <p>The PMP course covers new trends, emerging practices, tailoring considerations, and core competencies required of a Project Management professional. Placing a greater emphasis on strategic and business knowledge, this pmp course also includes a new section on the role of the project manager in both large and small companies.</p>
            </div>
            <!-- <div class="col-md-4 watch-over">
              <img src="{% static 'assets/images/mx.png' %}" alt=""> 
              <span class="intro-text">Watch <b>INTRO VIDEO</b></span> 
            </div> -->
        </div>
        <div class="row pt--28">
            <div class="col-md-8 over-key">
                <h3>PMP Key Features 
                   </h3>
                <ul>
                    <li>35 contact hours/PDUs</li>
                    <li>4 simulation test papers (180 questions each)</li>
                </ul>
                <ul>
<!--                     <li>100% Success Rate</li>
 -->                    <li>Experiential learning through case studies</li>
                </ul>
            </div>
            <div class="col-md-4 over-skill">
                <h3>Skills Covered</h3>
                <ul>
                    <li>Work breakdown structure</li>
                    <li>Resource allocation</li>
                    <li>Gantt charts</li>
                    <li>Mathematical project scheduling models</li>
                    
                      <!--  -->
                                     <div class="accordion" id="accordionExample">
  <div id="cbv" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
     
                        <li>Project cost estimating</li>
                        <li>Cost management</li>
                        <li>Engineering economics</li>
                        <li>Leadership</li>
                       
                        
   
  
  </div>
      <button class="collapsed ser " type="button" data-bs-toggle="collapse" data-bs-target="#cbv" aria-expanded="false" aria-controls="collapseTwo">
        <img src="{% static 'assets/images/view.png' %}" alt="">
      </button>
    </h2>
   
  
 
</div>
<!--  -->
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="training-option" id="training-options">
    <div class="container heading-line2">
        <h2 class="pb-4">Training <b>Options</b></h2>
        <div class="row">
            <div class="col-md-8 m-auto">
            <div class="row">
                <div class="col-md-6">
                    <div class="training-box">
                        <h3>ONLINE BOOTCAMP</h3>
                        <h6>₹ 13,999</h6>
                        <ul>
                            <li> 90 days of flexible access to online classes
                            </li>
                            <li>Live, online classroom training by top instructors and practitioners</li>
                            
                            <li>24x7 learner assistance and support</li>
                           
                        </ul>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="training-box">
                        <h3>CORPORATE TRAINING</h3>
                        <h6>Customized to your team's needs</h6>
                        <ul>
                            <li> Customized learning delivery model (digital material and/or instructor-led)
                            </li>
                            <li>Flexible pricing options</li>
                            <li>Enterprise grade Learning Management System (LMS)</li>
                            <li>Enterprise dashboards for individuals and teams</li>
                            <li>24x7 learner assistance and support</li>
                           
                        </ul>
                        
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- Curriculum -->
<section class="curriculum" id="course-curriculum">
    <div class="container heading-line2">
        <h2>PMP Course <b>Curriculum</b></h2>
        <div class="row">
            <div class="col-md-8 curriculum-left">
                <h3>Eligibility</h3>
                <p>The PMP® certification is an essential professional requirement for senior project manager roles across all industries. The PMP course is best suited for: Project Managers, Associate/Assistant Project Managers, Team Leads/Team Managers, Project Executives/Project Engineers, Software Developers, Any professional aspiring to be a Project Manager.</p>
                <h3>Pre-requisites</h3>
                <p>You should have a secondary degree (i.e. high school diploma, associate’s degree or the global equivalent) with 7,500 hours leading and directing projects along with 35 hours of project management education to start pmp training course.</p>
                <div class="faq-section faq-inner-bg">
            <div class="box-wrapper">
                <!-- Start Faq Wrapper -->
                <div class="faq-wrapper">
                   
                           
                                <div class="faq-accordian-style-1 accordion mt-4" id="accordion-1">
                                    <!-- Start Accordian Single Item -->
                                   <div class="accordian-single-item accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#demo-5">
                                               Project Management Professional (PMP)
                                            </button>
                                        </h2>
                                        <div id="demo-5" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
                                            <div class="accordion-body">
                                               <div class="faq-accordian-style-1 accordion mt-4" id="accordion-1">
                                    <!-- Start Accordian Single Item -->
                                   <div class="accordian-single-item accordion-item">
                                        
                                       <div class="timeline p-4 block mb-4">
                    <div class="tl-item active">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Section 01: Introduction</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Section 02: Create a High Performance Team</div>
<!--                             <div class="tl-date text-muted mt-1">45 minutes ago</div>
 -->                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Section 03: Start the Work</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Section 04: Do the Work</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Section 05: Keep the Team on Track</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Section 06: Keep the Business Environment in Mind</div>
                            
                        </div>
                    </div>
                   
                    
                    
                </div>
                                    </div>
                                   
                                    <!-- End Accordian Single Item -->
                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <!-- End Accordian Single Item -->
                                </div>
                            </div>
                       
                
                <!-- End Faq Wrapper -->
            </div>
        </div>
            </div>
            <div class="col-md-4">
                <div class="curriculum-form">
                    <h3>Request more information</h3>
                    <ul>
                        <li><input type="text" placeholder="Name*" class="topb-input"></li>
                        <li><input type="text" placeholder="Email*" class="topb-input"></li>
                        <li><input type="text" placeholder="Mobile*" class="topb-input"></li>
                        <li><div class="d-flex flex-row"><aside style="padding-right:10px;" class="d-none-m">Inquiry for:</aside> <label class="radio"> <input type="radio" name="project" checked> <span> </span> Myself</label>
                        <label class="radio">
                         <input type="radio" name="project"> <span></span>Company</label> </div></li>
                         <li><textarea name="Message" id="" cols="30" rows="3" class="border1"></textarea></li>
                    </ul>
                    <div class="submi">
                        <a href="#">SUBMIT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="exam" id="exam-certification">
    <div class="container heading-line2">
        <h2>Exam & <b>Certification</b></h2>
        <div class="row">
            <div class="col-md-7">
                <div class="accordion" id="accordionExample">
 
  
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-1" aria-expanded="false" aria-controls="collapseone">
        What are the PMP Certification Exam fees?
      </button>
    </h2>
    <div id="exam-1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>The PMP® certification exam fees for PMI® members and nonmembers are:</p>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
       
        <tbody>
           
            
            
            
            
           
            
           
           
           
            <tr>
                <td>PMP® Certification Exam fee with PMI® Membership</td>
                <td>Rs. 23,459</td>
                
            </tr>
            <tr>
                <td>PMP® Certification Exam fee without PMI® Membership</td>
                <td>Rs. 42,863</td>
               
            </tr>
            <tr>
                <td>PMI® Membership fee</td>
                <td>Rs. 10,735</td>
            </tr>
             <tr>
                <td>PMI® Membership renewal fee</td>
                <td>    Rs. 9,963/year</td>
            </tr>
             <tr>
                <td>Reexamination fee for PMI® members</td>
                <td>    Rs. 15,929</td>
            </tr>
             <tr>
                <td>Reexamination fee for non-members</td>
                <td>    Rs. 28,961</td>
            </tr>
               
            
           
          
           
            
        </tbody>
        
    </table>
    <p>With the PMI® membership, you can also access commercially available books on project management and download a free copy of the PMBOK® Guide - Sixth Edition, which is essential preparatory material for the PMP® Certification Exam. Registered PMI® members also get free access to Practice Exams.</p>
      </div>
</div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-2" aria-expanded="false" aria-controls="collapseTwo">
        What are the PMP Certification eligibility requirements?
      </button>
    </h2>
    <div id="exam-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>The eligibility requirements for PMP® certification are:</p>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
       
        <tbody>
           
            
            
            
            
           
            
           
           
           
            <tr>
                <td><b>Education</b></td>
                <td><b>Project Management Experience</b></td>
                <td class="d-none-m"><b> Project Management Education</b></td>
                
            </tr>
            <tr>
                <td>Nongraduates</td>
                <td>5 years/7500 hours</td>
                <td class="d-none-m">35 hours</td>
               
            </tr>
            <tr>
                <td>Graduates</td>
                <td>3 years/4500 hours</td>
                <td class="d-none-m">35 hours</td>
            </tr>
      
        </tbody>
        
    </table>
      </div>
    </div>
 </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-3" aria-expanded="false" aria-controls="collapseThree">
       How do I pass the PMP Certification Exam?
      </button>
    </h2>
    <div id="exam-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       The PMP Certification Exam is very challenging. To succeed, you must:
       <ul>
           <li><b>1.</b> Dedicate your time and effort into preparing for the exam</li>
           <li><b>2.</b> Complete the e-learning course content before the online classroom training</li>
           <li><b>3.</b> Score at least 80% in one out of the seven PMP® full-length practice tests available online at Trident Global Services</li>
                  </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-4" aria-expanded="false" aria-controls="collapseThree">
         What is the passing score for PMP Certification exam?
      </button>
    </h2>
    <div id="exam-4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      In the past, PMI® had published 61% of 200 questions as the passing score. But now, PMI does not disclose the exact passing score or percentage anymore. After the PMP® Certification Exam update, the passing score is different for every candidate and is based on the difficulty level of questions being attempted by each candidate.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-5" aria-expanded="false" aria-controls="collapseThree">
        Who can sign copies of my project experience documents?
      </button>
    </h2>
    <div id="exam-5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Any verifying manager or supervisor can sign the Experience Verification Form and Experience PDF attachment.

      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#exam-6" aria-expanded="false" aria-controls="collapseThree">
        What is the best way to send the audit documents to PMI®?
      </button>
    </h2>
    <div id="exam-6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       You can send your completed audit forms to the PMI®'s official address by regular postal mail or express courier service. The PMI® does not accept faxed or emailed audit documents. Participants should send all documents in one envelope to expedite the processing time.
      </div>
</div>
  
</div>

  
</div>
            </div>
            <div class="col-md-5">
                <div>
                    <img src="{% static 'assets/images/cer-business.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
</div>
</section>





<section class="faqs" id="faqs">
    <div class="container">
        <h4>FAQs</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="accordion" id="accordionExample">
 
  
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="collapseone">
       What is Project Management?
      </button>
    </h2>
    <div id="faq1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Project management is the application of processes, skills, methods, knowledge, and experience to attain specific project goals and objectives within the set scope, time, quality, and budget. To get these skills you need to take on the PMP Training Course from certified training provider and complete the PMP Certification Exam.
        </ul>
 </div>
</div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="collapseTwo">
        What is PMP training?
      </button>
    </h2>
    <div id="faq2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       This PMP certification training is a comprehensive program that helps you prepare for the PMP certification exam and pass it on your first attempt. Learning online gives you the flexibility to weigh out your options in your career. 
      </div>
    </div>
 </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="collapseThree">
        What is a PMP course?
      </button>
    </h2>
    <div id="faq3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       The PMP course is a step-by-step program designed by industry experts for professionals who want to understand project management from the basics. The cutting-edge curriculum is covered through short video modules so that learners can grasp the concepts easily. The PMP certification exam is quite difficult and the  PMP course helps you to gain a clear understanding of all the important concepts. 
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="collapseThree">
        What are the benefits of a PMP training course?
      </button>
    </h2>
    <div id="faq4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Working professionals often find it difficult to arrange the study materials and dedicate the time to prepare for the PMP exam on their own. However, they can avoid this hassle with a reliable PMP training course as they only need to enroll in the program. Access to digital material from PMI, step-by-step guidance, practice assignments, and mock tests are arranged by the PMP training provider, and classes are taken on weekends for the learner’s convenience. On weekdays, they only need to take out some time to go through the video modules.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="collapseThree">
        What is included in the PMP Certification course?
      </button>
    </h2>
    <div id="faq5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Tips and tricks videos that help you tackle the toughest PMP Certification exam questions
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="collapseThree">
        How to apply for PMP training?
      </button>
    </h2>
    <div id="faq6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       PMP training is offered by PMI® and its authorized training providers (ATPs) like Trident Global Services . If you have decided to take a formal PMP course, you just need to sign up on the training provider’s website, select the pmp course, and complete the payment to get access to the study materials.
      </div>
</div>
  
</div>
</div>
</div>
<div class=" col-md-4 img-faq">
<img src="{% static 'assets/images/faq.png' %}" alt="" class="" >
</div>
</div>
</div>
</section>
<!--  -->





<section class="sub-footer">
    <div class="container">
        <h2>For Corporate Training</h2>
        <h3>Transform your team to Managing across with customized learning models.</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Name" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Email id" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Phone number" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <button type="button">Enquiry Now</button>
            </div>
        </div>
    </div>
</section>

<!--  -->
{% endblock body %}
