{% extends 'index.html' %}
{% load static %}
{% block body %}
    
    
    <!-- Breadcrumb -->
    <div class="breadcrumb-area" data-bgimage="{% static 'assets/images/contact-bg.png' %}" data-black-overlay="4">
        <div class="container">
            <div class="in-breadcrumb">
                <div class="row">
                    <div class="col">
                        <h3>PRIVACY POLICY</h3>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="{% static 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active">Privacy Policy</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Breadcrumb -->
    
    
    
    <!-- Page Conttent -->
   <section class="term">
       <div class="container">
           <div class="row">
               <div class="col-lg-12">
                <h6><strong>OVERVIEW</strong></h6>
                <p>We take your privacy seriously and are committed to protect your right to privacy as a user of our website. We have made every effort to ensure your information is secure. This privacy policy information covers what information is collected, what we do with it, and what you can do about it. You can use this information to make your decisions about your privacy.</p>
                <h6><strong>ABOUT US AND THE WEBSITE</strong></h6>
                <p>www.xyz.com provides online and classroom training for big data, Hadoop ecosystem, business Intelligence, cloud technologies and other niche technologies. Our courses are designed to help participants in their professional career and clear other professional examinations conducted by different technology companies.</p>
                <h6><strong>Trident Global Services INFORMATION PRACTICES</strong></h6>
                <p>Every effort has been taken to ensure the accuracy of the information on the website; the content is naturally subject to change. We are not responsible for any damages arising out of the use of the information held on this server</p>
                <p>We assure that all our downloadable training content is virus free. However, Trident Global Services can accept no liability for damages resulting from virus infection.</p>
                <h6><strong>INFORMATION COLLECTED BY Trident Global Services</strong></h6>
                <ul>
                    <li><p>You have total control on the privacy of your information</p></li>
                    <li><p>Your information will never be sold, exchanged or disclosed to any third party ? ?for marketing purposes</p></li>
                    <li><p>You can decide whether you want to opt-in to receive offers from us</p></li>
                    </ul>
                    <p>You can browse our website without registration. We may collect and store the information that you voluntarily disclose to us, in order to access our free tests and discussion forum. We do not share your personal information with any third party. We do not collect information about our visitors from email databases, private/ public organization or bodies.</p>
                    <p>We may use your information to contact you via email or telephone, typically to get feedback, to inform you about new products or provide support on your issues, If you do not want us to contact you via email, you can unsubscribe at any time with one click.</p>
                    <p>When you purchase our online products or register for classroom training, you need to make the payment online or offline based on convenience thus you will be required to share your personal information such as name, e-mail address, telephone number, address(s), Paypal details with us. During this program, we store your contact information in our registration and order-entry systems. Your paypal information is never stored in our system as it is processed by our payment gateway which uses Secure Encryption Technology (SSL). Our payment processing partner is PayPal.</p>
                    <h6><strong>EXTERNAL LINKS</strong></h6>
                    <p>Our website may have links to other sites which includes third party websites or resources. We are not responsible for the privacy policies and information practices of third party websites. Please read privacy policies of third party websites as every website has different terms of use and privacy policies.</p>
                    <h6><strong>COURSE CONTENT</strong></h6>
                    <p>Course content for all the study programs online or offline trainings, it is provided for the purpose of education and guidance only. The course content is regularly reviewed and is subjected to change without notice. Trident Global Services reserves the right to modify training content without notice.</p>
                    <h6><strong>ACCESS TO Trident Global Services E-LEARNING SOLUTION</strong></h6>
                    <p>Sharing of Trident Global Services training material and e-learning credentials to your friends, family members, colleagues. Please be aware that sharing of Trident Global Services training material or e-learning credentials is strictly prohibited and can have legal implications. If anyone found sharing Trident Global Services training material or e-learning credentials his/her account will be disabled permanently and will be un-enrolled from the course automatically.</p>
                    <h6><strong>COPYRIGHT INFORMATION</strong></h6>
                    <p>You can electronically copy or take print of the website pages, if it is being used for personal use only. Trident Global Services holds the copyright to all the material on this website, unless otherwise indicated. A written permission of the copyright holder must be obtained for any use of this material other than for purposes permitted by law.</p>
                 <h2>PERSONAL INFORMATION POLICY</h2>
                 <h6><strong>IMAGE AND VIDEO CAPTURE</strong></h6>
                 <p>Any images captured during events organized and hosted by Trident Global Services should not be misused. That includes pictures of Trident Global Services staff and training participants. If you enrol in an Trident Global Services course your picture may also be featured in photos or videos of the Trident Global Services classes.</p>
                 <h6><strong>SHARING YOUR PERSONAL INFORMATION</strong></h6>
                 <p>If you have purchased an Trident Global Services course, we may ask you for testimonial and if you authorize us, we will display your testimonial on our website, photos and videos or in our social media channels such as Facebook, YouTube, etc. You should be aware that your publicly identifiable information could be used to send you promotional, unsolicited messages. We are not responsible for your personal information which you have chosen to display.</p>
                 <p>If you don’t want us to feature your pictures/testimonials on our website or on our social media channels, you can write a mail to <a href="#">support@tridentglobalservice.com</a></p>
                 <h6><strong>PERSONAL INFORMATION CORRECTIONS</strong></h6>
                 <p>You can contact us if you notice that the information we are holding is incorrect or incomplete. Please send us a mail to <a href="#">support@tridentglobalservice.com</a> </p>
                 <h6><strong>CHANGES TO PRIVACY POLICY</strong></h6>
                 <p>This privacy policy terms may change time to time and we reserve the right to change the terms of this privacy policy at any time. When we update the privacy policy, all our registered users will be notified via email.</p>
                 <h6><strong>REFUND AND RESCHEDULING POLICY</strong></h6>
                 <p>Accepting this privacy policy also inherently made you accept our refund and course rescheduling policy listed here: www.xyz.com/refund-policy.html</p>
                 <h6><strong>DELETING PERSONAL INFORMATION</strong></h6>
                 <p>If you would like to delete your account, write to <a href="#">support@tridentglobalservice.com</a> </p>
                 <h6><strong>PRIVACY POLICY QUESTIONS?</strong></h6>
                 <p>If you have any questions regarding Trident Global Services Privacy Policy, Please write to <a href="#">support@tridentglobalservice.com</a> </p>
                 <h2>Refund Policy</h2>
                 <p>Thank you for buying our courses. We want to make sure that our users have a rewarding experience while they are discovering information, assessing, and purchasing our training courses, whether it may be for online or classroom training courses.</p>
                 <p>As with any online purchase experience, the below are the terms and conditions that govern the Refund Policy. When you buy a training course on the Trident Global Services website you agree to our Privacy Policy and Terms of use policy and the points below.</p>
                 <h6><strong>CANCELLATION AND REFUNDS: ONLINE CLASSROOM LEARNING</strong></h6>
                 <p>Trident Global Services, reserves the right to postpone/cancel an event because of instructor illness or force-majeure events (like floods, earthquakes, political instability, pandemic situation like COVID19, etc.)</p>
                 <ul>
                     <li><p>The refund request will not be accepted if you have attended the online classroom training for more than 1 day's session or have accessed / downloaded course material from the learning portal.</p></li>
                     <li><p>No refund will be provided on discounted courses</p></li>
                     <li><p>No refund will be provided for the academic institute tie up courses.</p></li>
                     <li><p>Raise refund request within 7 days of commencement of the first session. Any refund request beyond 7 days of purchasing the course will not be accepted and no refund will be provided.</p></li>
                     <li><p>In the case of refund, taxes amount will not be refunded.</p></li>
                     <li><p>In the case of refund, taxes amount will not be refunded.
If the learners want to re-attended the online instructor led classes for the purchased course and if their no availability of the batch in near future, then in that case maximum refund applicable will be 10% of the total amount paid.</p></li>
                     <li><p>If due to any technical reason learners are not able to access the self-paced videos or class recordings and already attended the complete course through instructor led online classes, then in that case no refund is applicable or a can be provided with a voucher for the amount equivalent of the 10% amount paid by the learner at the time of enrolment.
Note: All refunds will be processed within 20 working days of receipt of the refund request.
</p></li>
</ul>
<h6><strong>CANCELLATION AND REFUNDS: SELF PACED LEARNING</strong></h6>
<ul>
                     <li><p>No refund will be done for Self-Paced courses.</p></li>
                     <li><p>No refund will be provided and access will be revoked, If anytime found course is been shared with others / multiple users or intention of course purchase is to copy the material/ Content and account will be blocked at the same time.</p></li>
                 </ul>
               </div>
           </div>
       </div>
   </section>
    <!--// Page Conttent -->
    
   

<section class="sub-footer">
    <div class="container">
        <h2>For Corporate Training</h2>
        <h3>Transform your team to Managing across with customized learning models.</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Name" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Email id" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Phone number" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <button type="button">Enquiry Now</button>
            </div>
        </div>
    </div>
</section>

<!--  -->
{% endblock body %}
