{% extends 'index.html' %}
{% load static %}
{% block body %}

    <!-- Managing Across bg start -->
<section class="across-main bg-hack">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Python and Django Certification</h3>
                        <p>The world is still reeling under the widespread effects of CoVid-19, since the beginning of the year 2020. Every company has shifted base online and employees are on a work from home mode. If you too wish to start working and land a job of your dreams, get certified with our any of our vast online courses. You will definitely get an edge over other competitors! Don’t put a pause to your dreams. Make brilliant use of your time by adding credibility and relevant certifications to your resume. Trident Global Services has a variety of courses and certifications available online which you can access through the comfort of your home. </p>
                    </div>
                </div>
                <div class="row r">
                    <div class="col-md-4 ">
                        <div class="r-box bor-right">
                                <span>4.9</span> Ratings on <img src="{% static 'assets/images/g2.png' %}" alt="" class="mx-1"><a href="#">Reviews 
                             </a>
                             <br>
                             <div class="awee"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fas fa-star-half-alt"></span></div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div  class="r-box2 bor-right ">
                            <span>10k+</span> Students Enrolled
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div  class="r-box2 succ m-margin">
                             Guarantee Success


                        </div>
                    </div>
                </div>
                <div class="row bg-ul">
                    <div class="col-md-12">
                        <ul>
                            <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#downloadcourse">DOWNLOAD COURSE CONTENT <i class="fas fa-download"></i></button></li>
                            <!-- <li><button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#downloadcourse">DOWNLOAD COURSE BROCHURE <i class="fas fa-download"></i> </button></li> -->
                            <!-- <li><button type="button" class="btn active" data-bs-toggle="modal" data-bs-target="#">VIEW SCHEDULE <i class="fas fa-calendar-alt"></i> </button></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-3">
     
        <div class="division">
            <div class="row">
                <div class="col-12 mx-auto">
                    <span>Drop Your Query</span>
                </div>
            </div>

            <form class="myform">
                 <div class="mt-2">
               <input type="email" class="form-control " id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
             </div>

             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Id">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Phone Number">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="City">
             </div>
             <div class="mt-2">
               <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Query">
             </div>

             <div class="my-t">
                 <button type="button" class="btn ntn-block btn-primary btn-lg">
                     Submit
                 </button>
             </div>
            </form>
</div>
            </div>
        </div>
        </div>

        <div class="row">
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 One among the top 10 most valuable certification</p>
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 90% of the people get job after Certification</p>
                        </div>
                     </div>
                     <div class="col-md-4 ">
                        <div class="course-card2">
                           <p>💡 Experienced and Certified Trainers</p>
                        </div>
                     </div>
                  </div>
    </div>
</section>
<div class="q-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
     
      <div class="modal-body">
        <div class="bg-form2">
                    <div class="topf">
                        <img src="{% static 'assets/images/msg.png' %}" alt="">
                        <span>Drop Your Query</span>
                    </div>
                    <div class="topb">
                        <ul>
                            <li><input type="text" placeholder="Name" class="topb-input"></li>
                            <li><input type="text" placeholder="Email id" class="topb-input"></li>
                            <li><input type="text" placeholder="Phone Number" class="topb-input"></li>
                            <li><input type="text" placeholder="City" class="topb-input"></li>
                            <li><input type="text" placeholder="Enter Your Query" class="topb-input"></li>
                        </ul>
                        <div class="pop-btn">
                            <a href="#">Submit</a>
                        </div>
                    </div>
                </div>      </div>
     
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="downloadcourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div class="bg-form2">
                    <div class="topf">
                        <img src="{% static 'assets/images/msg.png' %}" alt="">
                        <span>Get Course Content
</span>
                    </div>
                    <div class="topb">
                        <ul>
                            <li><input type="text" placeholder="Name" class="topb-input"></li>
                            <li><input type="text" placeholder="Email id" class="topb-input"></li>
                            <li><input type="text" placeholder="Phone Number" class="topb-input"></li>
                            
                        </ul>
                        <div class="pop-btn">
                            <a href="#">Submit</a>
                        </div>
                    </div>
                </div>      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<section class="content-nav d-none-m header-sticky2 header-sticky2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li><a href="#overview">Overview</a></li>
                    <li><a href="#training-options">Training Options</a></li>
                    <li><a href="#course-curriculum">Course Curriculum</a></li>
                    <li><a href="#exam-certification">Exam & Certification</a></li>
                    <li><a href="#reviews">Reviews</a></li>
                    <li><a href="#faqs">Faqs</a></li>
                </ul>
                 <div class="entroll">
                    <button type="button" class="btn d-none-m" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Enroll Now
</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="world">
    <div class="container">
        <div class="row">
            <h2>World’s #1 <b>Online Bootcamp</b></h2>
            <div class="col-md-4">
                <div  class="wo-box bor-right ">
                            <span>4.5</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-1.png' %}" alt="">
                        </div>
            </div>
            <div class="col-md-4">
                <div  class="wo-box bor-right ">
                            <span>4.6</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-2.png' %}" alt="">
                        </div>
            </div>
            <div class="col-md-4">
                <div  class="wo-box">
                            <span>4.5</span>
                            <i class="fas fa-star"></i>
                            <img src="{% static 'assets/images/w-3.png' %}" alt="">
                        </div>
            </div>
        </div>
    </div>
</section> -->
<section class="overview" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-md-8 top-over heading-line2 ">
                <h2> Course <b>Overview</b></h2>
                <p>This ethical hacking certification verifies the skills required to thrive in the information security domain. Many IT departments have made CEH compulsory for security-related posts. CEH certified ethical hacker professionals earn 44-percent higher salaries than non-certified professionals.</p>
            </div>
            <div class="col-md-4 watch-over">
              <!-- <img src="{% static 'assets/images/mx.png' %}" alt=""> 
              <span class="intro-text">Watch <b>INTRO VIDEO</b></span>  -->
            </div>
        </div>
        <div class="row pt--28">
            <div class="col-md-8 over-key">
                <h3>Key Features 
                    </h3>
                <ul>
                    <li>Exam fee included</li>
                    <li>Accredited training partner of EC-Council</li>
                    <li>Study material by EC-Council (e-kit)</li>
                   
                </ul>
                <ul>
                    <li>40 hours of Applied Learning</li>
                    <li>6 months free access to CEHv11 iLabs</li>
                    <li>20 current security domains</li>
                    
                </ul>
            </div>
            <div class="col-md-4 over-skill">
                <h3>Skills Covered</h3>
                <ul>
                    <li>Trojans backdoors and countermeasures</li>
                    <li>IDS firewalls and honeypots</li>
                    <li>Advanced hacking concepts</li>
                    
                      <!--  -->
                                     <div class="accordion" id="accordionExample">
  <div id="cbv" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
     
                        <li>Network packet analysis</li>
                        <li>Mobile and web technologies</li>
                        <li>Advanced log management</li>
                       
                        
   
  
  </div>
      <button class="collapsed ser " type="button" data-bs-toggle="collapse" data-bs-target="#cbv" aria-expanded="false" aria-controls="collapseTwo">
        <img src="{% static 'assets/images/view.png' %}" alt="">
      </button>
    </h2>
   
  
 
</div>
<!--  -->
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="training-option" id="training-options">
    <div class="container heading-line2">
        <h2 class="pb-4">Training <b>Options</b></h2>
        <div class="row">
            <div class="col-md-8 m-auto">
            <div class="row">
                <div class="col-md-6">
                    <div class="training-box">
                        <h3>SELF-PACED LEARNING</h3>
                        <h6>₹ 40,000</h6>
                        <ul>
                            <li> 90 days of flexible access to online classes
                            </li>
                            <li>Lifetime access to high-quality live class recordings</li>
                            <li>24x7 learner assistance and support</li>
                           
                        </ul>
                        
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="training-box">
                        <h3>CORPORATE TRAINING</h3>
                        <h6>Customized to your team's needs</h6>
                        <ul>
                            <li> Blended learning delivery model (self-paced eLearning and/or instructor-led options)
                            </li>
                            <li>Flexible pricing options</li>
                            <li>Enterprise grade Learning Management System (LMS)</li>
                            <li>Enterprise dashboards for individuals and teams</li>
                            <li>24x7 learner assistance and support</li>
                           
                        </ul>
                        
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
<!-- Curriculum -->
<section class="curriculum" id="course-curriculum">
    <div class="container heading-line2">
        <h2> Course <b>Curriculum</b></h2>
        <div class="row">
            <div class="col-md-8 curriculum-left">
                <h3>Eligibility</h3>
                <p>This ethical hacking course is for network security officers and practitioners, site administrators, IS/IT specialists and analysts, IS/IT auditors, IT operations managers, IT security officers, network specialists, technical support engineers, senior systems engineers, and systems analysts.</p>
                <h3>Pre-requisites</h3>
                <p>There are no prerequisites to take up this ethical hacking certification training course.</p>
                <div class="faq-section faq-inner-bg">
            <div class="box-wrapper">
                <!-- Start Faq Wrapper -->
                <div class="faq-wrapper">
                   
                           
                                <div class="faq-accordian-style-1 accordion mt-4" id="accordion-1">
                                    <!-- Start Accordian Single Item -->
                                   <div class="accordian-single-item accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#demo-5">
                                               CEH v11 - Certified Ethical Hacking  
                                            </button>
                                        </h2>
                                        <div id="demo-5" class="accordion-collapse collapse" data-bs-parent="#accordion-1">
                                            <div class="accordion-body">
                                               <div class="faq-accordian-style-1 accordion mt-4" id="accordion-1">
                                    <!-- Start Accordian Single Item -->
                                   <div class="accordian-single-item accordion-item">
                                        
                                       <div class="timeline p-4 block mb-4">
                    <div class="tl-item active">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Module 01- Introduction to Ethical Hacking</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Module 02-  Footprinting and Reconnaissance</div>
<!--                             <div class="tl-date text-muted mt-1">45 minutes ago</div>
 -->                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Module 03- Scanning Networks</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Module 04- Enumeration</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Module 05-  Vulnerability Analysis</div>
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Module 06- System Hacking</div>
                            
                        </div>
                    </div>

                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Module 07- Malware Threats</div>
                            
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Module 08- Sniffing</div>
                            
                        </div>
                    </div>
                    <div class="tl-item">
                        <div class="tl-dot b-primary"></div>
                        <div class="tl-content">
                            <div class="">Module 09- Social Engineering</div>
                            
                        </div>
                    </div>

                    
                    
                </div>
                                    </div>
                                   
                                    <!-- End Accordian Single Item -->
                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <!-- End Accordian Single Item -->
                                </div>
                            </div>
                       
                
                <!-- End Faq Wrapper -->
            </div>
        </div>
            </div>
            <div class="col-md-4">
                <div class="curriculum-form">
                    <h3>Request more information</h3>
                    <ul>
                        <li><input type="text" placeholder="Name*" class="topb-input"></li>
                        <li><input type="text" placeholder="Email*" class="topb-input"></li>
                        <li><input type="text" placeholder="Mobile*" class="topb-input"></li>
                        <li><div class="d-flex flex-row"><aside style="padding-right:10px;">Inquiry for:</aside> <label class="radio"> <input type="radio" name="project" checked> <span> </span> Myself</label>
                        <label class="radio">
                         <input type="radio" name="project"> <span></span> Company</label> </div></li>
                         <li><textarea name="Message" id="" cols="30" rows="3" class="border1"></textarea></li>
                    </ul>
                    <div class="submi">
                        <a href="#">SUBMIT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="exam" id="exam-certification">
    <div class="container heading-line2">
        <h2>CEH v11 Exam & <b>Certification</b></h2>
        <div class="row">
            <div class="col-md-7">
                <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e1" aria-expanded="false" aria-controls="collapseone">
       What are the prerequisites for this Ethical Hacking certification?
      </button>
    </h2>
    <div id="e1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        For (CEH) Certified ethical hacking certification, there is no specific eligibility criteria but we recommend a basic knowledge of TCP/IP.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e2" aria-expanded="false" aria-controls="collapseTwo">
        Is this CEH Certification course accredited?
      </button>
    </h2>
    <div id="e2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Yes, our Certified Ethical Hacking course is accredited by EC-Council.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e3" aria-expanded="false" aria-controls="collapseThree">
       What do I need to do to unlock my Trident Global Services certificate?
      </button>
    </h2>
    <div id="e3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        Attend one complete class of the CEH course.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e4" aria-expanded="false" aria-controls="collapseThree">
       Until when can I procure exam voucher from Trident Global Services?
      </button>
    </h2>
    <div id="e4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Your exam voucher fee is included in the price of this ethical hacking course. However, you must procure the CEH exam voucher within 3 months from the date of course purchase. In the event that the CEH exam price does go up and you have not yet booked the exam, you will need to pay the difference in amount to Trident Global Services.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e5" aria-expanded="false" aria-controls="collapseThree">
       How do I schedule/book my exam?
      </button>
    </h2>
    <div id="e5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Please click the below link for information regarding the booking process.<!--  <br>
<a href="#">https://www.Trident Global Services.com/ice9/about_course_images/Raise_exam_request_through_LMS.pdf</a> -->
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e6" aria-expanded="false" aria-controls="collapseThree">
      What is the validity of my CEH exam voucher?
      </button>
    </h2>
    <div id="e6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
     Exam vouchers are valid for 1 year from the date of course purchase. If you do not book the exam within 1 year from the purchase of the voucher, you will need to buy the voucher again as per the actual price.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e7" aria-expanded="false" aria-controls="collapseThree">
        Can I ask for refund of exam voucher cost once it is issued to me?
      </button>
    </h2>
    <div id="e7" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       No, exam voucher cost cannot be refunded once it is issued to a learner as we procure this from third party bodies. Trident Global Services does not own the voucher policies and cost.
      </div>
    </div>
  </div>

   <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#e8" aria-expanded="false" aria-controls="collapseThree">
        How frequently does the CEH exam fee change?
      </button>
    </h2>
    <div id="e8" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
     Exam prices are governed by the certification body and can change. Price changes are typically announced at the end of the calendar year. In case the exam price goes up and you have not yet booked the exam, you will need to pay the difference in amount to Trident Global Services.
      </div>
    </div>
  </div>
</div>
            </div>
            <div class="col-md-5">
                <div>
                    <img src="{% static 'assets/images/hack.png' %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
</div>
</section>


<section class="managing-testi" id="reviews">
    <div class="container">
         <div class="row">
                 <div class="col-lg-12 ">
                    <!-- section-title -->
                    
                        <h4>Reviews</h4>
                    
                </div>
                <div class="testimonial-active2 owl-carousel">
                    <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static 'assets/images/review-icon.png' %}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Rohit Singh</h4>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p">I loved our trainer so much that if there is again an opportunity to attend one more batch with the same trainer, I would love to attend it.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                   <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static 'assets/images/review-icon2.png' %}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Rahul Aggarwal</h4>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p"> My instructor Myra took really interesting sessions and had a unique method of training the class by making it more interactive. She also always confirmed if we understood the concepts. I would like to thank her for her guidance.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                    <div class="col-lg-11 m-auto">
                        <!-- testimonial-wrap -->
                        <div class="testimonial-wrap text-center">
                            
                            <div class="testimonial-info">
                                <div class="review-top">
                                    <div class="r-left"><img src="{% static 'assets/images/review-icon.png' %}" alt="" ></div>
                                    <div class="r-right">
                                        <h4>Kumar Sanny</h4>
                                    <h5><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></h5>
                                    </div>
                                </div>
                                <p class="text-left-p">I have enrolled in TOGAF 9.1 training from Trident Global Services. It has very knowledgeable faculty. The content and way the session was conducted were really good. I highly recommend Trident Global Services.</p>
                            </div>
                        </div><!--// testimonial-wrap -->
                    </div>
                </div>
            </div>
    </div>
</section>


<section class="faqs" id="faqs">
    <div class="container">
        <h4>FAQs</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="accordion" id="accordionExample">
 
  
 <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="false" aria-controls="collapseone">
      How are the Labs conducted?
      </button>
    </h2>
    <div id="faq1" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Labs are conducted on EC Council-designed iLabs. The access period is for six months.
        
 </div>
</div>
</div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="collapseTwo">
        Who are our instructors and how are they selected?
      </button>
    </h2>
    <div id="faq2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        All of our highly qualified trainers are CEH (v11) certified with at least 15 years of experience in ethical hacking training and working in the areas of cybersecurity and IT service and architecture. Each of them has gone through a rigorous selection process that includes profile screening, technical evaluation, and a training demo before they are certified to train for us. We also ensure that only those trainers with a high alumni rating remain on our faculty.
      </div>
    </div>
 </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="collapseThree">
       Is this live training, or will I watch pre-recorded videos?
      </button>
    </h2>
    <div id="faq3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      The ethical hacking course is conducted via live virtual classrooms (LVC). They are interactive sessions that enable you to ask questions and participate in discussions during class time. We do, however, provide recordings of each session you attend for your future reference. Classes are attended by a global audience to enrich your learning experience.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="e4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq4" aria-expanded="false" aria-controls="collapseThree">
        What tools do I need to attend the training sessions?
      </button>
    </h2>
    <div id="faq4" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      Headset, speakers and microphone: You’ll need headphones or speakers to hear instruction clearly, as well as a microphone to talk to others. You can use a headset with a built-in microphone, or separate speakers and microphone.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq5" aria-expanded="false" aria-controls="collapseThree">
        Is CEH a good certification?
      </button>
    </h2>
    <div id="faq5" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        To be precise, yes. If you are interested in having a career in cybersecurity or want to become an ethical hacker, CEH certification is the best way to move forward. Issued by the EC-Council, the CEH certification is a testament to the fact that you are well-versed with all the nuances of penetration testing and ethical hacking.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq6" aria-expanded="false" aria-controls="collapseThree">
        Will CEH get me a job?
      </button>
    </h2>
    <div id="faq6" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       Yes, a certified CEH professional has a greater chance of getting a good job when compared to his/her non-certified counterpart. In fact, a CEH certification can basically provide you a stepping stone into the cybersecurity domain to a wide range of top-tier positions in various industries and organizations that require ethical hacking skills.
      </div>
</div>
  
</div>
</div>
</div>
<div class=" col-md-4 img-faq">
<img src="{% static 'assets/images/faq.png' %}" alt="" class="" >
</div>
</div>
</div>
</section>
<!--  -->

<!-- <section class="online-sec">

    <div class="container ">
        <div class="heading-line2">
        <h2 class="pb-4">Related <b>Programs</b></h2>
        </div>
        <div class="row">
             <div class="col-md-4  online-box">
                 <div class="cardp">
                                    <div class="imgBx">
                                        <div class="under-img text-center">
                                        <img src="{% static 'assets/images/box-19.jpg" alt="" class="img-fluid" ></div>
                                        <div class="padd">
                                        <h2 class="heading-p">ITIL Intermediate<br>(ITIL)</h2>
                                         <div class="course-rating">
                              <table>
                                 <tr>
                                    <td> Course Rating: </td>
                                    <td><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fas fa-star-half-alt"></span></td>
                                 </tr>
                                 <tr>
                                    <td> Trained Professional: </td>
                                    <td> 30 </td>
                                 </tr>
                              </table>
                           </div>
                           <div class="s-icon">
                               <a href="#" class="itil2"></a>
                           </div>
                                    </div>
                                </div>
                                    <div class="details">
                                        <h2>KEY FEATURES</h2>

                                       <ul class="list-mon">
                                          <li><i class="fas fa-check"></i>Admission Inquiry</li>
                                          <li><i class="fas fa-check"></i>Admission Form</li>
                                        
                                        </ul>
                                        <a href="itil-intermediate-training-course.html">VIEW DETAILS</a>
                                    </div>
                                </div>
            </div>
             <div class="col-md-4  online-box">
                 <div class="cardp">
                                    <div class="imgBx">
                                        <div class="under-img text-center">
                                        <img src="{% static 'assets/images/box-21.jpg" alt="" class="img-fluid" ></div>
                                        <div class="padd">
                                        <h2 class="heading-p">Check Point Security Administration <br>(CCSA) </h2>
                                         <div class="course-rating">
                              <table>
                                 <tr>
                                    <td> Course Rating: </td>
                                    <td><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fas fa-star-half-alt"></span></td>
                                 </tr>
                                 <tr>
                                    <td> Trained Professional: </td>
                                    <td> 43 </td>
                                 </tr>
                              </table>
                           </div>
                           <div class="s-icon">
                               <a href="#" class="ccsa"></a>
                           </div>
                                    </div>
                                </div>
                                    <div class="details">
                                        <h2>KEY FEATURES</h2>

                                       <ul class="list-mon">
                                          <li><i class="fas fa-check"></i>Admission Inquiry</li>
                                          <li><i class="fas fa-check"></i>Admission Form</li>
                                        
                                        </ul>
                                        <a href="check-point-security-administration-certification-training.html">VIEW DETAILS</a>
                                    </div>
                                </div>
            </div>
             <div class="col-md-4  online-box">
                 <div class="cardp">
                                    <div class="imgBx">
                                        <div class="under-img text-center">
                                        <img src="{% static 'assets/images/box-22.jpg" alt="" class="img-fluid" ></div>
                                        <div class="padd">
                                        <h2 class="heading-p">Checkpoint Certified Security Expert<br>(CCSE)</h2>
                                         <div class="course-rating">
                              <table>
                                 <tr>
                                    <td> Course Rating: </td>
                                    <td><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fas fa-star-half-alt"></span></td>
                                 </tr>
                                 <tr>
                                    <td> Trained Professional: </td>
                                    <td> 50 </td>
                                 </tr>
                              </table>
                           </div>
                           <div class="s-icon">
                               <a href="#" class="ccse"></a>
                           </div>
                                    </div>
                                </div>
                                    <div class="details">
                                        <h2>KEY FEATURES</h2>

                                       <ul class="list-mon">
                                          <li><i class="fas fa-check"></i>Admission Inquiry</li>
                                          <li><i class="fas fa-check"></i>Admission Form</li>
                                        
                                        </ul>
                                        <a href="checkpoint-certified-security-expert-certification-training.html">VIEW DETAILS</a>
                                    </div>
                                </div>
            </div>
            
        </div>
    </div>
</section>
 -->



<section class="sub-footer">
    <div class="container">
        <h2>For Corporate Training</h2>
        <h3>Transform your team to Managing across with customized learning models.</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Name" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Email id" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <div class="sub-box">
                    <input type="text" placeholder="Phone number" class="input">
                </div>
            </div>
            <div class="col-md-3">
                <button type="button">Enquiry Now</button>
            </div>
        </div>
    </div>
</section>

<!--  -->
{% endblock body %}
